*
!.github
!.github/ISSUE_TEMPLATE
!.github/ISSUE_TEMPLATE/bug_report.md
!.github/ISSUE_TEMPLATE/feature_request.md
!entrypoint
!entrypoint/entrypoint.sh
!nginx
!nginx/default.conf
!nginx/nginx.conf
!php
!php/settings.ini
!php/www.conf
!supervisor
!supervisor/nginx.conf
!supervisor/php-fpm.conf
!supervisor/supervisord.conf
!.gitignore
!Dockerfile
!LICENSE.md
!README.md